*{
    box-sizing: border-box;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: #ffff;
}
p{
    margin: 0;
}
h2{
    margin: 0;
}
h3{
    margin: 0;
}
body{
    font-family: Arial;
    font-size: 13px;
    padding: 0;
    margin: 0;
}
.container{
    width: 1170px;
    margin: 0 auto 0 auto;
}
#wapper{
    background: #e2e2e2;
}
.header-top-wrapper{
    background: url(/images/header-top-bg.png) no-repeat;
    background-size: cover;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    border-top: 2px solid #fddd13;
    overflow: hidden;
    padding: 18px 0 17px 0  ;
}
.logo{
    background: url(/images/logo.png);
    float: left;
    display: block;
    position: relative;
    text-indent: -99999px;
    width: 389px;
    height: 39px;
    overflow: hidden;
}
.logo h1{
    margin: 0;
}
.header{
    position: relative;
}
.header-top-right::before,
.header-top-right::after{
    content: '';
    display: table;
}
.header-top-right::after{
    clear: both;
}
.header-top-right{
    float: right;
}
.cart{
    float: left;
    padding: 10px 16px 0 0;
}
.cart-icon{
    float: left;
    padding: 4px 15px 0 0;
}
.cart-number{
    float: left;
    color: #ffffff;
    padding: 6px 15px 0 0;
}
.cart-number a:hover{
    color: #ffdd02;
}
.cart-btn{
    float: right;
}
.cart-btn button{
    background: url(/images/cart-btn.png) no-repeat;
    background-size: cover;
    border: 0;
    height: 7px;
    cursor: pointer;
}
.cart-btn::after{
    content: '';
    display: table;
    clear: both;
}
.cart button::after{
    content: '';
    display: table;
    clear: both;
}
.hotline{
    float: right;
    color: #a9a9a9;
    font-weight: bold;
    text-align: right;
    border-left: 1px solid #2b2929;
    padding-left: 17px;
}
.hotline::after{
    display: table;
    content: '';
    clear: both;
}
.hotline-info{
    float: left;
    padding: 3px 27px 0 0;
}
.hotline-title::after{
    content: '';
    display: table;
    clear: both;
}
.hot-title::after{
    content: '';
    display: table;
    clear: both;
}
.notice {
    background: #2f2f2f;
    text-align: center;
    height: 18px;
    width: 18px;
    border-radius: 10px;
    float: left;
    margin: -3px 0 0 38px;
    cursor: pointer;
}
.notice a{
    color: #545454;
}
.notice:hover, .notice a:hover{
    background: #ffdd02;
    color: #ffff;
}
.hot-title p{
    float: right;
    color: #a9a9a9;
    font-weight: bold;
}
.hotline-number{
    padding: 2px 0px 0px 0px;
}
.hotline-number a{
    font-size: 19.65px;
    color: #ffdd02;
}
.hotline-icon{
    float: right;
    position: relative;
    right: 8px;
    top: 4px;
}
.notice-contact{
    position: absolute;
    height: 65px;
    width: 238px;
    background: #ffdd02;
    right: 102px;
    bottom: 14px ;
    border-radius: 4px;
    padding: 13px 0 0 16px;
    display: none;
}
.address{
    padding: 0 0 12px 26px;
    background: url(/images/address-icon.png) no-repeat;
}
.notice-mail{
    background: url(/images/Email-icon.png) no-repeat;
    padding-left: 26px;
}
.notice-contact a, .notice-contact p{
    color: #000000;
}
.notice-contact a:hover{
    color: #ffffff;
}
.notice-contact::after{
    content: '';
    position: absolute;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    border-bottom: 6px solid #ffdd02;
    right: 118px;
    bottom: 65px;
}
.header-navbar{
    background: url(/images/top-nav-bg.png) no-repeat;
    background-size: cover;
    height: 100%;
}
.navigation-list li{
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    margin: 0 -2px;
}
.navigation-list li a{
    display: inline-block;
    border-left: 1px solid #020202;
    padding: 14px 0 13px 0;
}
.navigation-list{
    margin: 0;
}
.navigation-list .home a{
    background: url(/images/home.png) no-repeat 27px 13px;
    padding-left: 25px;
    padding-right: 39px;
}
.navigation-list .desktop-pc a{
    background: url(/images/computer-icon.png) no-repeat 21px 14px;
    padding-left: 59px;
    padding-right: 19px;
}
.navigation-list .laptop a{
    background: url(/images/laptop-icon.png) no-repeat 20px 15px;
    padding-left: 53px;
    padding-right: 21px;
}
.navigation-list .camera a{
    background: url(/images/camera-icon.png) no-repeat 24px 15px;
    padding-right: 22px;
    padding-left: 55px;
}
.navigation-list .mobile a{
    background: url(/images/mobile-icon.png) no-repeat 25px 10px;
    padding-right: 14px;
    padding-left: 54px ;
}
.navigation-list .office a{
    background: url(/images/print-icon.png) no-repeat 25px 13px;
    padding-right: 20px;
    padding-left: 58px;
}
.navigation-list .network a{
    background: url(/images/wifi-router-icon.png) no-repeat 21px 9px;
    padding-left: 64px;
    padding-right: 30px;
}
.navigation-list .home a:hover{
    background: url(/images/home-hover.png) no-repeat 27px 13px;
    border-bottom: solid 1px #ffdd02;
    color: #ffdd02;
}
.navigation-list .desktop-pc a:hover{
    background: url(/images/computer-icon-hover.png) no-repeat 21px 14px;
    border-bottom: solid 1px #ffdd02;
    color: #ffdd02;
}
.navigation-list .laptop a:hover{
    background: url(/images/laptop-icon-hover.png) no-repeat 20px 15px;
    border-bottom: solid 1px #ffdd02;
    color: #ffdd02;
}
.navigation-list .camera a:hover{
    background: url(/images/camera-icon-hover.png)  no-repeat 24px 15px;
    border-bottom: solid 1px #ffdd02;
    color: #ffdd02;
}
.navigation-list .mobile a:hover{
    background: url(/images/mobile-icon-hover.png) no-repeat 25px 10px;
    border-bottom: solid 1px #ffdd02;
    color: #ffdd02;
}
.navigation-list .office a:hover{
    background: url(/images/print-icon-hover.png)  no-repeat 25px 13px;
    border-bottom: solid 1px #ffdd02;
    color: #ffdd02;
}
.navigation-list .network a:hover{
    background: url(/images/wifi-router-icon-hover.png) no-repeat 21px 9px;
    border-bottom: solid 1px #ffdd02;
    color: #ffdd02;
}
/* Home Navigation */
.home-navi{
    overflow: hidden;
}
.banner{
    width: 600px;
    float: left;
}
.banner::after{
    content: '';
    display: table;
    clear: both;
}
.home-navi-btn{
    overflow: hidden;
}
.nav-list li{
    display: inline-block;
    margin-right: -4px;
    overflow: hidden;
}

.nav-list li a{
    display: block;
    width: 189px;
    height: 146px;
    font-style: italic;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    padding: 94px 21px 0 21px;
    line-height: 20px;
}
.tu-van-thiet-ke-web a{
    background: #73c814 url(/images/web-home-icon.png) no-repeat 62px 18px;
}
.lap-dat-he-thong-mang a{
    background: #297aee url(/images/wifi-router-home-icon-2.png) no-repeat 71px 27px;
}
.tu-van-xay-dung-phan-mem a{
    background: #0abe7c url(/images/pc-home-icon-2.png) no-repeat 75px 30px;
}
.thay-muc-may-in a{
    background: #a469bd url(/images/print-home-icon-2.png) no-repeat 68px 27px;
}
.sua-chua-may-tinh a{
    background: #f58d01 url(/images/settin-pc-home-icon.png) no-repeat 73px 32px;
}
.lap-camera a{
    background: #f1c40f url(/images/Camera-icon-menu.png) no-repeat 83px 30px;
}

/* Main */
.main-wrapper{
    background: #ffff;
    overflow: hidden;
}
.main-content{
    width: 879px;
    float: left;
}
.desktop-content::after{
    content: '';
    display: table;
    clear: both;
}
/* .desktop-list , .laptop-list, .camera-list, .mobile-list{
    width: 25%;
} */
.desktop-list li, .laptop-list li, .camera-list li, .mobile-list li{
    display: inline-block;
    width: 24%;
}
/* Side */
.side-content{
    overflow: hidden;
    border-left: 1px solid #f2f2f2;
}
.why{
    border-bottom: 1px solid #f2f2f2;
}
.why-header{
    padding: 17px 0px 0 55px;
}
.why-list p{
    font-weight: bold;
    padding: 30px 11px 12px 115px;
    line-height: 21px;
    font-size: 13px;
}
.why-list p:last-child{
    padding-bottom: 0;
}
.why-1{
    background: url(/images/ship.png) no-repeat 13px 11px;
}
.why-2{
    background: url(/images/bao-hanh.png) no-repeat 19px 12px;
}
.why-3{
    background: url(/images/phan-mem.png) no-repeat 27px 21px;
}
.why-4{
    background: url(/images/sale.png) no-repeat 31px 27px;
}
.why-5{
    background: url(/images/nhan-lai-hang.png) no-repeat 15px 10px;
}
#why-1{
    color: #297aee;
}
#why-2{
    color: #be242b;
}
#why-3{
    color: #73c814;
}
#why-4{
    color: #f58d01;
}
#why-5{
    color: #a469bd;
}
/* Footer */
.footer-navigation-wrapper{
    border-top: solid 3px #ffdd02;
    background: #272727;
    border-bottom:solid 1px #303030 ;
    padding-bottom: 26px;
}
.footer-navigation-wrapper::after{
    content: '';
    display: table;
    clear: both;
}
.footer-navigation{
    padding: 41px 46px 0 23px;
}
.footer h3{
    color: #ffdd02;
    font-size: 14px;
    padding-bottom: 13px;
}
.footer-left{
    float: left;
    font-size: 12px;
}
.footer-left a:hover{
    color: #ffdd02;
}
.footer-left::after{
    content: '';
    display: table;
    clear: both;
}
.col{
    float: left;
    padding-right: 116px;
}
.col::after{
    content: '';
    display: table;
    clear: both;
}
.footer-left ul{
    line-height: 22px;
}
.footer-left .col-3{
    padding-right: 0;
}
.footer-right{
    float: right;
}
.footer-right::after{
    content: '';
    display: table;
    clear: both;
}
.social-network h3{
    padding-bottom: 17px;
}
.social-network ul{
    padding-bottom: 25px;
}
.social-network li{
    display: inline-block;
    padding-right: 7px;
}
.input-mail form{
    position: relative;
}
#search-field{
    width: 248px;
    height: 33px;
    border-radius: 7px 0 0 7px;
    background: #272727;
    border: solid 1px #505050;
}
input[type="search"]{
    color: #a6a6a6;
    font-size: 12px;
    padding-left: 20px;
}
input::placeholder{
    color: #a6a6a6;
    font-size: 12px;
}
#search-btn{
    background: #ffdd02 url(/images/arrow.png) no-repeat 18px 10px;
    height: 33px;
    width: 51px;
    position: absolute;
    border: none;
    border-radius: 0 7px 7px 0;
    cursor: pointer;
}
.footer-bottom{
    background: #181818;
    color: #bbbbbb;
    padding: 23px 0 19px 0;
}
.footer-copyright::after{
    content: '';
    display: table;
    clear: both;
}
.footer-copyright-left{
    float: left;
    padding-left: 8px;
}
.footer-copyright-right{
    float: right;
    padding-right: 40px;
}
.footer-copyright p{
    font-size: 12px;
}