*{
    box-sizing: border-box;
}
body{
    font-family: "Comic Sans Ms";
    margin: 0;
}
header{
    background-color: aquamarine;
    color: white;
    height: 300px;
    padding: 80px;
    text-align: center;
}
.narbar{
    overflow: hidden;
    background-color: rgb(88, 88, 88);
    position: sticky;
    top: 0;
}
.narbar a{
    color: white;
    float: left;
    display: block; 
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}
.narbar a.right{
    float: right;
}
.narbar a:hover{
    background-color: #e4d1cc;
    color: black;
}
.narbar a.left{ 
    background-color: rgb(160, 160, 160);
}
.colums{
    display: flex;
    flex-wrap: wrap;
}
.about{
    flex: 30%;
    padding: 20px;
    background-color: #d3ccca;
}
.content{
    flex: 70%;
    padding: 20px;
}
.img{
    background-color: #969696;
    width: 100%;
    padding: 20px;
}
footer{
    background-color: #b3b1b1;
    height: 100px;
    padding: 15px;
    text-align: center;
}
#back_top_top_btn{
    font-size: 40px;
    /* right: 0;
    bottom: -640px;
    position: absolute; */
    cursor: pointer;
}

@media screen and (max-width: 360px){
    .about{
        display: none;
    }
    #back_top_top_btn{
        font-size: 30px;
    }
}
.hidden{
    opacity: 0;
    /* transform: translateY(100%); */
    /* transition: 1s; */
}
.block{
    opacity: 1;
    /* transform: translateY(-50%); */
    /* transition: 1s; */
}
.fix{
    right: 0;
    bottom: 0;
    position: fixed;
}
.absolute{
    right: 0;
    bottom: -585px;
    position: absolute;
}

.hidden_2{
    opacity: 0;
    /* transform: translateY(100%); */
    /* transition: 1s; */
}
.block_2{
    opacity: 1;
    /* transform: translateY(-50%); */
    /* transition: 1s; */
}